*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}



:root {

    /*--------------------header----------------------------*/
    --header-background: #bfc3b6;
    --Yummy: #7E8972;
    --search-box-border: #371e12d1;
    --search-button-and-border: #7E8972;
    /*-------------------main-text--------------------------*/
    --main-text: #5F4D43;
    /*--------------------buttons---------------------------*/
    --buttons-background: #859b96;
    --buttons-text-color: #ffffff;
    --profile-myposts-mysaves-btn: #60827a;
    /*------------------section-top-------------------------*/
    --section-top-title: #371E12;
    --section-top-phrase: #8FA09D;
    /*---------------------blog-----------------------------*/
    --blog-card-background: rgb(255, 255, 251, 0.8);
    --blog-card-border: #5F4D43;
    --blog-card-h3: #60827a;
    --tags: #979d9d;
    --blog-text: #5F4D43;
    --like-dislike-f4: #60827a;
     /*--------------------footer---------------------------*/
    --footer-background: #bfc3b6;
    --footer-text-and-links: hsl(0, 0%, 100%);
     /*---------------------post----------------------------*/
    --post-wrapper: rgba(255, 255, 255, 0.8);
    --post-border: #5F4D43;
    --post-img-background: rgba(214, 211, 206, 0.6);
    --ingredients1-and-dots2: #5F4D43;
    --ingredients2-and-dots1: #859b96;
    --post-text: #5F4D43;
    /*---------------------profile--------------------------*/
    --post-wrapper: rgba(255, 255, 255, 0.8);
    --post-border: #5F4D43;
    --ammounts: #5F4D43;
    --stats-text:  #8FA09D;
    --username: #60827a;
    /*---------------------register--------------------------*/
    --register-wrapper: rgba(255, 255, 255, 0.8);
    --register-border: #5F4D43;
    --registration-title: #8FA09D;
    --lines: #7E8972;
    --register-link: #859b96;
    --input-borders: #371e12bc;
    --google-facebook-text: #5F4D43;
    --google-facebook-border: #859b96;
 
  }







/* Шрифт сайта */
body {
  background-color: var(--color-white);
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.blog{
    font-family: 'Outfit', sans-serif;

}


.buttongroup {
    margin: 0px auto;
    margin-top: 35px;
    color:#462b1e;
    font-size: 14px;
    opacity: 1;
    margin-bottom: 15px;
    max-width: 1200px;

}

.sld{
    width: 30px;
    height: 30px;
}

.popular-new {
    margin-inline: auto;
    margin: auto;
    background-color:#859b96;
    color:#ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    width: 120px;
    transition: 0.25s ease;
    font-weight: 800;
}

.popular-new:hover {
    background-color:#60827a;
    transform: translateY(-2px);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.2);
}


.blog .popular-new {
    line-height: 1.3;
    margin-bottom: 10px;
    text-align: center;
}

.blog-card-group{

    min-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.blog-card{
   
    background-color: rgb(255, 255, 251, 0.8);
    padding: 10px;
    margin-bottom: 22px;
    max-width: 1200px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsla(0, 0%, 0.05);
    transition: 0.25s ease;
    border: 2.5px solid #5F4D43;
    max-height: 211px; /* TUTA -------------=================------- */
}

.blog-card-banner{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    gap: 10px;
}

.blog-banner-img {
    height: 100%;
    width:  100%;
    height: 185px;
    width: 220px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
  }

.sld-pic{
    height: 100%;
    width:  100%;
    object-fit: cover;
}

.sld{
    background-color: transparent;
}

.blog-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.2);
}

.blog-content-wrapper {
    padding: 10px 5px;
    max-height: 185px;
}

.blog-topic {
    font-weight: 800;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.blog-card .h3 {
    line-height: 1.4;
    margin-bottom: 15px;
    color:#60827a;
    font-size: 24px;
    font-weight: 1000;
}

.tag{
    line-height: 1;
    color:#979d9d;
    font-size: 16px;
    font-weight: 800;
}

.blog-card .h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.blog .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.profile-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.post-buttons{
    display: flex;
    align-items: center;
    gap: 10px;

}


.wrapper-flex{
    display: flex;
    justify-content: space-between;
}


.blog .text-sm {
    gap: 5px;
    align-items: center;


}



.btn-load-more {
    margin: 0px auto;
    display: block;
    background-color:#859b96;
    color:#ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.25s ease;
    font-weight: 800;
    margin-bottom: 20px;
}


.blog-text {
    height: 85px;
    color: #5F4D43;
    font-weight: 600;
    margin-top: 5px;
    line-height: 25px;
}


.h4 {
    color: #60827a;
}


.like-count{
    color: #60827a;
}

.dislike-count{
    color: #60827a;
}




.usericon{
    margin-right: 10px;
}






