*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


:root {

  /*--------------------header----------------------------*/
  --header-background: #bfc3b6;
  --Yummy: #7E8972;
  --search-box-border: #371e12d1;
  --search-button-and-border: #7E8972;
  /*-------------------main-text--------------------------*/
  --main-text: #5F4D43;
  /*--------------------buttons---------------------------*/
  --buttons-background: #859b96;
  --buttons-text-color: #ffffff;
  --profile-myposts-mysaves-btn: #60827a;
  /*------------------section-top-------------------------*/
  --section-top-title: #371E12;
  --section-top-phrase: #8FA09D;
  /*---------------------blog-----------------------------*/
  --blog-card-background: rgb(255, 255, 251, 0.8);
  --blog-card-border: #5F4D43;
  --blog-card-h3: #60827a;
  --tags: #979d9d;
  --blog-text: #5F4D43;
  --like-dislike-f4: #60827a;
   /*--------------------footer---------------------------*/
  --footer-background: #bfc3b6;
  --footer-text-and-links: hsl(0, 0%, 100%);
   /*---------------------post----------------------------*/
  --post-wrapper: rgba(255, 255, 255, 0.8);
  --post-border: #5F4D43;
  --post-img-background: rgba(214, 211, 206, 0.6);
  --ingredients1-and-dots2: #5F4D43;
  --ingredients2-and-dots1: #859b96;
  --post-text: #5F4D43;
  /*---------------------profile--------------------------*/
  --post-wrapper: rgba(255, 255, 255, 0.8);
  --post-border: #5F4D43;
  --ammounts: #5F4D43;
  --stats-text:  #8FA09D;
  --username: #60827a;
  /*---------------------register--------------------------*/
  --register-wrapper: rgba(255, 255, 255, 0.8);
  --register-border: #5F4D43;
  --registration-title: #8FA09D;
  --lines: #7E8972;
  --register-link: #859b96;
  --input-borders: #371e12bc;
  --google-facebook-text: #5F4D43;
  --google-facebook-border: #859b96;

}








footer { background-color: #bfc3b6;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer .container {
  padding: var(--py) 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;

 

}

.Q{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);

    margin-top: 10px;
    line-height: 1.3;
    width: 85%;
    text-align: start;
  justify-content: center;
  align-items: center;
  margin-left: 7%;

}



.one{
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
  grid-row: 1;
  line-height: 1.5;
}

.two{

    align-items: center;
    grid-column: 1 / 2;
  grid-row: 2;
  letter-spacing: 2px;
  line-height: 2;
}

.three{
    align-items: center;
    grid-column: 2 / 2;
  grid-row: 2;
  line-height: 1.5;
}

.four{
    align-items: center;
    grid-column: 1 / 2;
  grid-row: 3;
  line-height: 1.5;
  
}

.fins{
  letter-spacing: 2px;

}

.footer-link{
    list-style-type: none;
     
}

.footer-title{
    color:hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 800;

}


.we{
    display: flex;
    align-items: center;
}

.names{

    margin-right: 100px;
}

.footer-link{
    color: hsl(0, 0%, 100%);
    font-size: 16;
    font-weight: 600;
}








.copyright {
  color: var(--foreground-secondary);
  font-size: var(--fs-4);
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--action-primary);
}

.copyright a {
  color: var(--accent);
  font-weight: 500;
}

