*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}






:root {

    /*--------------------header----------------------------*/
    --header-background: #bfc3b6;
    --Yummy: #7E8972;
    --search-box-border: #371e12d1;
    --search-button-and-border: #7E8972;
    /*-------------------main-text--------------------------*/
    --main-text: #5F4D43;
    /*--------------------buttons---------------------------*/
    --buttons-background: #859b96;
    --buttons-text-color: #ffffff;
    --profile-myposts-mysaves-btn: #60827a;
    /*------------------section-top-------------------------*/
    --section-top-title: #371E12;
    --section-top-phrase: #8FA09D;
    /*---------------------blog-----------------------------*/
    --blog-card-background: rgb(255, 255, 251, 0.8);
    --blog-card-border: #5F4D43;
    --blog-card-h3: #60827a;
    --tags: #979d9d;
    --blog-text: #5F4D43;
    --like-dislike-f4: #60827a;
     /*--------------------footer---------------------------*/
    --footer-background: #bfc3b6;
    --footer-text-and-links: hsl(0, 0%, 100%);
     /*---------------------post----------------------------*/
    --post-wrapper: rgba(255, 255, 255, 0.8);
    --post-border: #5F4D43;
    --post-img-background: rgba(214, 211, 206, 0.6);
    --ingredients1-and-dots2: #5F4D43;
    --ingredients2-and-dots1: #859b96;
    --post-text: #5F4D43;
    /*---------------------profile--------------------------*/
    --post-wrapper: rgba(255, 255, 255, 0.8);
    --post-border: #5F4D43;
    --ammounts: #5F4D43;
    --stats-text:  #8FA09D;
    --username: #60827a;
    /*---------------------register--------------------------*/
    --register-wrapper: rgba(255, 255, 255, 0.8);
    --register-border: #5F4D43;
    --registration-title: #8FA09D;
    --lines: #7E8972;
    --register-link: #859b96;
    --input-borders: #371e12bc;
    --google-facebook-text: #5F4D43;
    --google-facebook-border: #859b96;
 
  }




/* Шрифт сайта */
body {
  background-color: var(--color-white);
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


.header-page{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color:  #bfc3b6;
    
}

.header-page_container{
    display: flex;
    justify-content: space-between;
    
    
}

.header-page_end{
    display: flex;
    text-align: center;
justify-content: center;
align-items: center;
}



.header-page_start{
    display: flex;
    text-align: center;
justify-content: center;
align-items: center;
    
}

.header-page_nav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.header-page_end{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 240px;
}

.header-page_mid{
    display: flex;
    text-align: center;
justify-content: center;
align-items: center;
width: 100%;
}


